<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"><strong>Come back in the summer for details on 2019's event or if you are interested in sponsoring us then please contact us on <a href="mailto:tottonsantarun@gmail.com">tottonSantaRun@gmail.com</a></strong></p>

<!--<p>Please join us in Totton's third Santa Run, a 2.5km dash around Totton dressed in Santa suits or other Yuletide garb, complete with decorated pushchair and festive dog competition</p>

<p>There is also the Xmas Fayre, for finish line frolics complete with Reindeer, Cake competition, Choir, Raffle and more... </p>
-->

