<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"><strong>A family friendly, Christmas fun run, this year with an indoor Fayre at the finish line for
        runners and spectator enjoyment.</strong></p>

<p>Please join us in Totton's third Santa Run, a 2.5km dask around Totton dressed in Santa suits or other Yuletide Garb, complete with decorated pushchair and festive dog competition</p>

<p>There is also the Xmas Fayre, for finishline frolics complete with Reindeer, Cake competition, Chior, Raffle and more... </p>

