
<h2 class="section-title">{{ .titles.faqs }}</h2>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
        <a data-toggle="collapse" href="#open0" id="open0" onclick="expand(0)" >Entry fees</a>
      </span>
    <div id="collapse0" class="panel-collapse collapse">
        <p>
            <ul>
                <li>Adults:  	&#163;12 (+ &#163;1.52 service charge if paying through Eventbrite) </li>
                <li>Under 12s:  	&#163;6 (+ &#163;1.06 service charge if paying Eventbrite)</li>
                <li>Family (2x adult and 2 x under 12s): &#163;32 (+ &#163;3.08 service charge if paying through
                    Eventbright)
                <li>Under 3s: Free</li>
            </ul>
        </p>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
        <a data-toggle="collapse" href="#open1" id="open1" onclick="expand(1)" >Why the service charge? (and how to avoid it)</a>
      </span>
    <div id="collapse1" class="panel-collapse collapse">
        <p>You might have noticed, this year we are using Eventbrite for taking payments - It was not a switch we were looking to make, but
        one we were forded into due to Paypal chenging their rules and being inflexible to our organisational needs.</p>
        <p>On the one hand we feel it is important to offer the convienience of online booking and on the other we
        acknowledge that some people understandably may dislike paying the service charge. If you find yourselves in the
        second group then please be aware the service charge is only on eventbrite bookings - bookings made in person or
        through the post are without the service charge.</p>
    </div>
  </div>
</div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <a data-toggle="collapse" href="#open2" id="open2" onclick="expand(2)" >How do I register and pay?</a>
        </span>
        <div id="collapse2" class="panel-collapse collapse">
            <p>We'll be taking payments later in the year.</p>      
            <p>It will be possible to pay by:</p>
            <ul class="list-inline">
                <li>| Eventbrite - online        |</li>
                <li>| Cheque - by post           |</li>
                <li>| Cash or cheque - in person |</li>
            </ul>
            
            <div class="panel-footer">Please choose the appropriate option from the bookings section of the site menu when the time comes</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">
            <a data-toggle="collapse" href="#open3" id="open3" onclick="expand(3)">What happens once I've registered to take part?</a>
        </span>
            <div id="collapse3" class="panel-collapse collapse">
    <br/>
<p>Once you have registered and paid, you will receive a confirmation email. You will need your email to collect your Santa
    suit and race number in the weeks preceeding the run, so it is essential you <span class="text-warning bg-warning">do not lose or delete the email</span></p>
    <div class="panel-footer"></div>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
<a data-toggle="collapse" href="#open4" id="open4"onclick="expand(4)">When and how do I collect my race pack?</a>
      </span>
<div id="collapse4" class="panel-collapse collapse">
    <br/>
<p>You will receive a confirmation email, you must bring this when you are collecting your suits.</p>

<p>Your suit and race numbers can be collected in late November/early December 2018 (Dates to be finalised closer to the time) from Garland Lodge Scout Hut, Blackwater Drive, Calmore (other locations to be confirmed closer to the time)
so that you can arrive on the day suited up and ready to go!</p>
<p>Your race pack will also include joining instructions for the event, including final timings, meeting point maps and other
    details for the day.</li>
    <div class="panel-footer"></div>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
<a data-toggle="collapse" href="#open5" id="open5" onclick="expand(5)"  >What size are the Santa suits?</a>
      </span>
<div id="collapse5" class="panel-collapse collapse">
    <br/>
    <p>There are three sizes of suits, which you can request when completing the registration form. The adult suits are 'one
        size fits all', but by picking them up in advance you will have time to customize!</p>

    <p>This year there are two sizes of junior suits, one suitable for 4-7 years, and the other 8-11 years.</p>

    <i>Please note these ages are just a guide and not an exact measurement.</i>

    <p>There are no suits for the under 3s, mainly because they just won't fit. However, they will still receive a medal upon
        crossing the finish line and they still need to be included in the registration.</p>
         <div class="panel-footer"></div>
    </div>
  </div>
</div>
</div>
<script>
        document.getElementById("collapse0").style.display="none"
        document.getElementById("collapse1").style.display="none"
        document.getElementById("collapse2").style.display="none"
        document.getElementById("collapse3").style.display="none"
        document.getElementById("collapse4").style.display="none"
        document.getElementById("collapse5").style.display="none"
    function expand(number) {
        str = "collapse"+number.toString()
        if (document.getElementById(str).style.display == "none") {
            document.getElementById(str).style.display="block"
            document.getElementById(str).scrollIntoView()
        } else {
    document.getElementById(str).style.display="none"
        }
    }
</script>
