<h2 class="section-title">{{ .titles.location }}</h2>

</p>
<p>This year we are changing the route to a 2.5km circular route starting and finishing at Library Road in the center of Totton, This allows spectators to see both the begining and end of the run and we hope will allow drivers slightly <strong>shorter period of disruption</strong> on Salisbury Road.</p>
<div class="wrapper">
  <ol>
    <li>Start - Library Road</li>
    <li>Turn right up Salisbury Road</li>
    <li>Turn right onto Testwood Lane (At the Testwood club junction)</li>
    <li>Run the entire length of Testwood Lane turning on to right Library Road by the Police Station</li>
    <li>Finish - Near the Library</li>
  </ol>  
</div>
<p>As with other years we will clear the route as soon as possible opening the roads as soon as it is safe to do so.</p>

<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
