<h2 class="section-title">{{ .titles.rules }}</h2>

<p>This is a cake decorating competition looking for Totton &amp; Eling’s most festive of cakes, your cake
can be any size or shape and there are no rules on the type of cake used, however it must be a cake
that is decorated and not a box or similar inedible prop.</p>
<p>All entries must be handed in between 9:30-10:30 9<sup>th</sup> December 2018 to the Great Totton Cake Off
Table, The Empire Hall, 1 Salisbury Rd Totton.</p>
<p>Cakes will be judged in 2 age categories Children under 16 and Adult 16 and over.</p>
<p>The Judges are independent of the group and their decision is final.
All entries into the cake competition are donated to the 5 th NFN Testwood Scout Group and can be
raffled off to raise funds for the group. No cakes entered in the competition will be returned.</p>
<p>The winner will be announced at the Fayre just after 12pm after which the cake raffle will take place.</p>
